body {
    background-color: #F2FFFC;
    font-size: 120%;
}

h1 {
    background-color: rgb(133, 25, 68);
    color: rgb(255, 255, 255);
    text-align: justify;
    font-family: Arial, sans-serif;
    text-align: center;
}

h2 {
    font-family: Arial, sans-serif;
}

p {
    font-family: 'Times New Roman', serif;
}