body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    background: rgb(250, 246, 246);
}

section {
    color: white;
    padding: 40px 5px;
}

section h1 {
    padding: 1px 10px;
    text-align: left;
    color: black;
}

.container input {
    margin: 10px 10px;
    width: 250px;
    height: 40px;
    background-color: #ededed;
    border-radius: 4px;
    color: black;
}

.container label {
    font-size: 18px;
    font-weight: 700;
    color: black;
}

button {
    margin: 5px 5px;
    margin-left: 10px;
    background-color: green;
    color: white;
}